/*======================================================================*\
|| #################################################################### ||
|| # Just sugar.                                                      # ||
|| #################################################################### ||
\*======================================================================*/

ma( $m = 0 )
  margin $m auto;


background-layer( $color = alpha(#000, 0.5) )
	position relative

	&:before
		content          : ' '
		display          : block !important
		background-color : $color
		square(100%)
		abs(0, 0, 0, 0)


image-scale( $scale = 1.1, $duration = 500ms, $timing-function = linear )
	display block;
	position relative;
	overflow hidden;

	> img
		transition( $duration $timing-function )

	&:hover > img
		scale($scale)


fz($sizePX)
	sizeREM ($sizePX / $fz-num)
	font-size ($sizeREM)rem

// Snippets of reusable CSS to develop faster and keep code readable
// -----------------------------------------------------------------


// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
clearfix
	//*zoom 1

	&:before,
	&:after
		display table
		content ""
	&:after
		clear: both

// Webkit-style focus
// ------------------
tab-focus()
	// Default
	outline thin dotted #333
	// Webkit
	outline 5px auto -webkit-focus-ring-color
	outline-offset -2px

// Center-align a block level element
// ----------------------------------
center-block()
	display block
	margin-left auto
	margin-right auto

// Sizing shortcuts
// -------------------------
size($width, $height)
	width $width
	height $height
	
square($size)
	size($size, $size)

// Placeholder text
// -------------------------
placeholder($color = $placeholderText)

	&:-moz-placeholder
		color: $color;
		opacity: 1;

	&::-webkit-input-placeholder
		color: $color;

	&:-ms-input-placeholder
		color: $color;



// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
text-overflow()
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;


// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
hide-text()
	font-size : 0;
	line-height : 0;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;



// FORMS
// --------------------------------------------------

// Block level inputs
input-block-level()
	display : block;
	width : 100%;
	min-height : 28px;        // Make inputs at least the height of their button counterpart
	box-sizing : border-box; // Makes inputs behave like true block-level elements



// Mixin for form field states
formFieldState($textColor = #555, $borderColor = #ccc, $backgroundColor = #f5f5f5)
	// Set the text color
	> label,
	.help-block,
	.help-inline
		color: $textColor;

	// Style inputs accordingly
	input,
	select,
	textarea
		color: $textColor;
		border-color: $borderColor;
		&:focus
			border-color: darken($borderColor, 10%);
			box-shadow(0 0 6px lighten($borderColor, 20%));


	// Give a small background color for input-prepend/-append
	.input-prepend .add-on,
	.input-append .add-on
		color: $textColor;
		background-color: $backgroundColor;
		border-color: $textColor;



// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
border-radius($radius)
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;


// Drop shadows
box-shadow($shadow)
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;


// Transitions
transition($transition)
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;


// Transformations
rotate($degrees)
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);

scale($ratio)
	-webkit-transform: scale($ratio);
	-moz-transform: scale($ratio);
	-ms-transform: scale($ratio);
	-o-transform: scale($ratio);
	transform: scale($ratio);

translate($x, $y)
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);

skew($x, $y)
	-webkit-transform: skew($x, $y);
	-moz-transform: skew($x, $y);
	-ms-transform: skew($x, $y);
	-o-transform: skew($x, $y);
	transform: skew($x, $y);

translate3d($x, $y, $z)
	-webkit-transform: translate($x, $y, $z);
	-moz-transform: translate($x, $y, $z);
	-ms-transform: translate($x, $y, $z);
	-o-transform: translate($x, $y, $z);
	transform: translate($x, $y, $z);


// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
backface-visibility($visibility)
	-webkit-backface-visibility: $visibility;
	-moz-backface-visibility: $visibility;
	-ms-backface-visibility: $visibility;
	backface-visibility: $visibility;


// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
background-clip($clip)
	-webkit-background-clip: $clip;
	-moz-background-clip: $clip;
	background-clip: $clip;


// Background sizing
background-size($size)
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;



// Box sizing
box-sizing($boxmodel)
	-webkit-box-sizing: $boxmodel;
	-moz-box-sizing: $boxmodel;
	-ms-box-sizing: $boxmodel;
	box-sizing: $boxmodel;


// User select
// For selecting text on the page
user-select($select)
	-webkit-user-select: $select;
	-moz-user-select: $select;
	-ms-user-select: $select;
	-o-user-select: $select;
	user-select: $select;


// Resize anything
resizable($direction = none)
	resize: $direction; // Options: horizontal, vertical, both
	overflow: auto; // Safari fix


// CSS3 Content Columns
content-columns($columnCount, $columnGap = $gridGutterWidth)
	-webkit-column-count: $columnCount;
	-moz-column-count: $columnCount;
	column-count: $columnCount;
	-webkit-column-gap: $columnGap;
	-moz-column-gap: $columnGap;
	column-gap: $columnGap;


// Opacity
//.opacity($opacity) 
//  opacity: $opacity / 100;
//  //filter: ~"alpha(opacity=$opacity)";
//
